#cuerpomapa-1 {
	width:700px;
	height:400px;
	margin:0px 100px 0px 0px;
}

#cero-1 {
	position:absolute;
	margin-left:0px;
	margin-top:200px;
	visibility:hide;
	}

#altagracia-1 {
	width:125px;
	height:162px;
	position:absolute;
	margin-left:248px;
	margin-top:211px; 


	}
	
#azua-1 {
	position:absolute;
	margin-left:-230px;
	margin-top:200px;

	}
		
#bahoruco-1 {
	position:absolute;
	margin-left:-335px;
	margin-top:275px;
	z-index:100;

	}

#barahona-1 {
	position:absolute;
	margin-left:-292px;
	margin-top:312px;

	}
	
#dajabon-1 {
	position:absolute;
	margin-left:-358px;
	margin-top:60px;

	}
	
#distritonacional-1 {
	position:absolute;
	margin-left:-100px;
	margin-top:400px;

	}
	
#duarte-1 {
	position:absolute;
	margin-left:-58px;
	margin-top:85px;

	}
	
#eliaspina-1 {
	position:absolute;
	margin-left:-372px;
	margin-top:133px;

	}

#elseybo-1 {
	position:absolute;
	margin-left:160px;
	margin-top:197px;

	}
	
#espaillat-1 {
	position:absolute;
	margin-left:-108px;
	margin-top:49px;

}

#hatomayor-1 {
	position:absolute;
	margin-left:97px;
	margin-top:180px;
	z-index:100;

	}
		
#independencia-1 {
	position:absolute;
	margin-left:-412px;
	margin-top:267px;

	}

#laromana-1 {
	position:absolute;
	margin-left:207px;
	margin-top:277px;

	}
	
#lavega-1 {
	position:absolute;
	margin-left:-184px;
	margin-top:122px;

	}
	
#mariatrinidadsanchez-1 {
	position:absolute;
	margin-left:-20px;
	margin-top:50px;

	}
	
#monsnouel-1 {
	position:absolute;
	margin-left:-105px;
	margin-top:175px;

	}
	
#montecristi-1 {
	position:absolute;
	margin-left:-355px;
	margin-top:-2px;

	}

#monteplata-1 {
	position:absolute;
	margin-left:-34px;
	margin-top:180px;

	}
		
#pedernales-1 {
	position:absolute;
	margin-left:-368px;
	margin-top:355px;

	}
	
#peravia-1 {
	position:absolute;
	margin-left:-102px;
	margin-top:312px;

	}
	
#puertoplata-1 {
	position:absolute;
	margin-left:-243px;
	margin-top:-6px;

	}
	
#salcedo-1 {
	position:absolute;
	margin-left:-79px;
	margin-top:76px;

	}

#samana-1 {
	position:absolute;
	margin-left:72px;
	margin-top:127px;

	}
	
#sanchezramirez-1 {
	position:absolute;
	margin-left:-58px;
	margin-top:165px;

	}
	
#sancristobal-1 {
	position:absolute;
	margin-left:-55px;
	margin-top:251px;

	}
	
#sanjoseocoa-1 {
	position:absolute;
	margin-left:-120px;
	margin-top:250px;

	}
		
#sanjuanmaguana-1 {
	position:absolute;
	margin-left:-332px;
	margin-top:160px;

	}

#sanpedromacoris-1 {
	position:absolute;
	margin-left:103px;
	margin-top:250px;

	}

#santiago-1 {
	position:absolute;
	margin-left:-248px;
	margin-top:59px;

	}

#santiagorodriguez-1 {
	position:absolute;
	margin-left:-301px;
	margin-top:76px;

	}

#santodgo-1 {
	position:absolute;
	margin-left:-10px;
	margin-top:264px;

	}
	
#valverdemao-1 {
	position:absolute;
	margin-left:-236px;
	margin-top:32px;

	}
	
